@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.calendar {
    margin: auto;
    border: none;
    width: 100%;
    font-family: 'Inter', sans-serif;

    button {
        background-color: transparent !important;
        border: none !important;
        width: 90% !important;
        font-family: 'Inter', sans-serif !important;
        line-height: 1.125em !important;
        color: #0B0E31 !important;
    }

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #D9D9D994;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: flex;
    flex-direction: row;
}

.containerPopUp {

    max-height: 100%; // define a altura da área visível
    overflow-y: auto;  // ativa a rolagem vertical
    padding-right: 8px; // evita scroll invisível

    // rolagem personalizada (opcional)
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 4px;
    }

    // border-right: solid 10px white;
    // border-top: solid 10px white;
    // border-bottom: solid 10px white;

    width: 70%;
    border-radius: 38px;
    align-items: center;
    align-content: center;
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    color: #0B0E31;
    font-weight: 800;
    font-size: 32px;
    
    .conteudo {
        padding: 30px;
        margin: auto;
        display: flex;
        flex-direction: row;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            width: 100%;
        }

        .cardJarvas {
            font-weight: 600;
            font-size: 16px;
            color: #0B0E31;
        }
        
        p {
            font-weight: 600;
            font-size: 16px;
            color: #0B0E31;
        }
        
        .cardNeuroKey {
            margin: 20px;
            width: 50%;
            border-radius: 50px;
            padding: 10px;
            box-shadow: 0px 1px 10.2px 0px rgba(0, 0, 0, 0.25);
        }

        .IniciarAnalise {
            margin: 20px;
            width: 50%;
            border-radius: 50px;
            padding: 10px;
            background-color: #0B0E31;
            
            p {
                color: white;
            }
            // box-shadow: 0px 1px 10.2px 0px rgba(0, 0, 0, 0.25);
        }
    }

    .icone {
        width: 100%;
    }


    h2 {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 28px;
        text-align: center;
        color: #0B0E31;
    }

}

.botoesTopo {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lixeira {
    scale: 0.7;
    border: none;
    background-color: transparent;
    margin: 5px 15px;
    padding: 10px;
}

.botaoVoltar {

    border: none;
    background-color: transparent;
    margin: 4px 10px;
    padding: 10px;

}

.botaoVoltar:hover {
    background-color: rgb(255, 73, 73);
    margin: 1px 1px;
    padding: 20px 20px;
    color: white;
    border-radius: 38px 0px 38px 0px;
    transition: 0.3s;
}

.conteudo {

    h3 {
        margin-top: 40px;
        margin-bottom: 10px;
        color: #0B0E31;
        font-weight: 600;
        font-size: 22px;
    }

}

.inputStatus {
    cursor: pointer;
    width: 100%;
    height: 40px;
    background-color: #F4F4FE;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    // justify-content: center;

    position: relative;
    overflow: hidden;
    justify-content: space-around;
    color: white;

    p {
        text-align: center;
        font-weight: 600;
        font-size: 15px;
        color: #999999;
        width: 50%;
        border: none;
        background-color: transparent; 
    }
    
    .slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 40px;
        background-color: transparent;
        border-radius: 15px;
        transition: left 0.3s ease;
        box-shadow: 0px 1px 10.2px 0px rgba(0, 0, 0, 0.25);
        z-index: 0;
    }

    .right {
        left: 50%;
        background-color: #9bffa8;
    }

    .left {
        left: 0%;
        background-color: #0b0e31;
    }
    
    p {
        z-index: 1;
        width: 50%;
        text-align: center;
    }
}



.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.input {
    width: 100%;
    height: 40px;
    background-color: #F4F4FE;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input{
        font-weight: 600;
        font-size: 15px;
        margin-left: 20px;
        color: #0B0E31;
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
    }

    input::placeholder {
        color: #999999;
    }

    input:focus {
        outline: none;
        border: none;
        background-color: transparent;
    }

}

.lapis {
    margin: auto;
    margin-right: 20px;
}

.place {
    margin: auto;
    font-weight: 600;
    font-size: 15px;
    margin-left: 20px;
    color: #999999;
    width: 100%;
    border: none;
    background-color: transparent; 
}

.containerScroll {
  max-height: 500px; // define a altura da área visível
  overflow-y: auto;  // ativa a rolagem vertical
  padding-right: 8px; // evita scroll invisível
  margin-top: 16px;

  // rolagem personalizada (opcional)
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
}

.objetivo {
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px #F3F3F3;
    padding: 3px 20px;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    h4 {
        font-weight: 600;
        font-size: 18px;
        color: #0B0E31;
    }
}

.objetivo:hover {
    background-color: #F3F3F3;
    cursor: pointer;
    transition: 0.3s;
}

.checkIcon {
    visibility: hidden;
}

.selecionado {
    visibility: visible;
}


.status {
    cursor: pointer;
    width: 50%;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 40px;
    padding: 30px 0px;
    background-color: #0B0E31;
    color: white;

    font-weight: 600;
    font-size: 16px;

}

.containerBotao {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    .icon {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .botao {
        width: 100%;
        height: 60px;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        background-color: #1b8800;
        border: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
        border-radius: 30px;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
}

.mob {

    .calendar {
        margin: auto;
        border: none;
        width: 100%;
        font-family: 'Inter', sans-serif;
    
        button {
            background-color: transparent !important;
            border: none !important;
            width: 90% !important;
            font-family: 'Inter', sans-serif !important;
            line-height: 1.125em !important;
            color: #0B0E31 !important;
        }
    
    }
    
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #D9D9D994;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 999;
        display: flex;
        flex-direction: row;
    }
    
    .containerPopUp {
        max-height: 70%; // define a altura da área visível
        overflow-y: auto;  // ativa a rolagem vertical
        padding-right: 8px; // evita scroll invisível
    
        // rolagem personalizada (opcional)
        scrollbar-width: thin;
        scrollbar-color: #ccc transparent;
    
        &::-webkit-scrollbar {
            width: 10px;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: #ccc;
            border-radius: 4px;
        }
    
        // border-right: solid 10px white;
        // border-top: solid 10px white;
        // border-bottom: solid 10px white;
    
        scale: 1;
        width: 95%;
        border-radius: 38px;
        align-items: center;
        align-content: center;
        background-color: #FFFFFF;
        font-family: 'Inter', sans-serif;
        color: #0B0E31;
        font-weight: 800;
        font-size: 24px;
        
        .conteudo {
            padding: 30px;
            
            button {
                color: white;
                background-color: #E76148;
                border: none;
                width: 100%;
                margin-top: 40px;
                height: 40px;
                border-radius: 20px;
                font-weight: 700;
                font-size: 16px;
    
                .concluido {
                    margin: auto;
                    margin-top: 2px;
                    margin-left: 10px;
                }
            }
        }
    
        .icone {
            width: 100%;
        }
    
    
        h2 {
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 20px;
            text-align: center;
            color: #0B0E31;
        }
    
    }
    
    .botoesTopo {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .lixeira {
        scale: 0.7;
        border: none;
        background-color: transparent;
        margin: 5px 15px;
        padding: 10px;
    }
    
    .botaoVoltar {
    
        border: none;
        background-color: transparent;
        margin: 4px 10px;
        padding: 10px;
    
    }
    
    .botaoVoltar:hover {
        background-color: rgb(255, 73, 73);
        margin: 1px 1px;
        padding: 20px 20px;
        color: white;
        border-radius: 38px 0px 38px 0px;
        transition: 0.3s;
    }
    
    .conteudo {
    
        h3 {
            margin-top: 40px;
            margin-bottom: 10px;
            color: #0B0E31;
            font-weight: 600;
            font-size: 16px;
        }
    
    }
    
    .inputStatus {
        cursor: pointer;
        width: 100%;
        height: 40px;
        background-color: #F4F4FE;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        // justify-content: center;
    
        position: relative;
        overflow: hidden;
        justify-content: space-around;
        color: white;
    
        p {
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            color: #999999;
            width: 50%;
            border: none;
            background-color: transparent; 
        }
        
        .slider {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 40px;
            background-color: transparent;
            border-radius: 15px;
            transition: left 0.3s ease;
            box-shadow: 0px 1px 10.2px 0px rgba(0, 0, 0, 0.25);
            z-index: 0;
        }
    
        .right {
            left: 50%;
            background-color: #9bffa8;
        }
    
        .left {
            left: 0%;
            background-color: #0b0e31;
        }
        
        p {
            z-index: 1;
            width: 50%;
            text-align: center;
        }
    }
    
    
    
    .inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    
    .input {
        width: 100%;
        height: 40px;
        background-color: #F4F4FE;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        input{
            font-weight: 600;
            font-size: 14px;
            margin-left: 20px;
            color: #0B0E31;
            width: 100%;
            height: 100%;
            border: none;
            background-color: transparent;
        }
    
        input::placeholder {
            color: #999999;
        }
    
        input:focus {
            outline: none;
            border: none;
            background-color: transparent;
        }
    
    }
    
    .lapis {
        margin: auto;
        margin-right: 20px;
    }
    
    .place {
        margin: auto;
        font-weight: 600;
        font-size: 14px;
        margin-left: 20px;
        color: #999999;
        width: 100%;
        border: none;
        background-color: transparent; 
    }
    
    .containerScroll {
      max-height: 500px; // define a altura da área visível
      overflow-y: auto;  // ativa a rolagem vertical
      padding-right: 8px; // evita scroll invisível
      margin-top: 16px;
    
      // rolagem personalizada (opcional)
      scrollbar-width: thin;
      scrollbar-color: #ccc transparent;
    
      &::-webkit-scrollbar {
        width: 6px;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 4px;
      }
    }
    
    .objetivo {
        display: flex;
        flex-direction: row;
        border-bottom: solid 2px #F3F3F3;
        padding: 3px 20px;
        align-items: center;
        align-content: center;
        justify-content: space-between;
    
        h4 {
            font-weight: 600;
            font-size: 16px;
            color: #0B0E31;
        }
    }
    
    .objetivo:hover {
        background-color: #F3F3F3;
        cursor: pointer;
        transition: 0.3s;
    }
    
    .checkIcon {
        visibility: hidden;
    }
    
    .selecionado {
        visibility: visible;
    }
    
    .containerStatus {
        width: 100%;
        // max-height: 100px; // define a altura da área visível
        // overflow-y: auto;  // ativa a rolagem vertical
        // padding-right: 8px; // evita scroll invisível
        // margin-top: 16px;
    
        // // rolagem personalizada (opcional)
        // scrollbar-width: thin;
        // scrollbar-color: #ccc transparent;
    
        // &::-webkit-scrollbar {
        //     width: 6px;
        // }
    
        // &::-webkit-scrollbar-thumb {
        //     background-color: #ccc;
        //     border-radius: 4px;
        // }
    }
    
    .status {
        cursor: pointer;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 15px;
        border-radius: 20px;
        padding: 10px 20px;
        background-color: #F4F4FE;
        color: #0B0E31;
    
        font-weight: 600;
        font-size: 14px;
    
    }
    
    .diaDaSemana {
        cursor: pointer;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 60px;
        border-bottom: solid 2px #F3F3F3;
        color: #0B0E31;
        font-weight: 600;
        font-size: 16px;
        justify-content: space-between;
        display: flex;
    }
    
    .diaDaSemana:hover {
        background-color: #F3F3F3;
    }
    
    .containerDataFinal {
        margin-top: 40px;
        font-weight: 600;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
        align-items: center;
        
        .inputDataFinal {
            padding: 10px 20px;
            border-radius: 9px;
            background-color: #F3F3F3;
            font-size: 16px;
            color: #929292;
            
            strong {
                color: #0B0E31;
            }
        }
    }

}