@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.dark {
    --fundo: url("../../../public/darkback3.jpg");
    // --fundo: #181818;
    --corTituloPage: white;
    --corBotoes: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255,255,255,0.04) 30%,
            rgba(11, 14, 49, 0.356) 65%,
            rgba(0,0,0,0.20) 100%
        ),
        /* Tom frio (vidro) + leve escurecimento no fundo */
        linear-gradient(135deg,
        rgba(160, 211, 255, 0.014) 0%,
        rgba(120, 170, 255, 0) 45%,
        rgba(0,0,0,0.06) 100%
        ),
        /* Brilho de borda “de cima” (edge highlight) */
        linear-gradient(180deg,
        rgba(255, 255, 255, 0.098) 0%,
        rgba(255,255,255,0.08) 35%,
        rgba(255,255,255,0.00) 70%
        );
    --sombraBtn: #0b0e3176;
    --backdrop-filter: blur(18px) saturate(160%) contrast(105%);
    --webkitBackdropFilter: blur(18px) saturate(160%) contrast(105%);
    --border: 1px solid rgba(255,255,255,0.22);
    --box-shadow: 0 10px 30px rgba(0,0,0,0.22), inset 0 1px 0 rgba(255,255,255,0.45);
}

.temaClaro {
    --box-shadow: 0px 1px 10.2px 0px #a6a6a6;
    --border: none;
    --webkitBackdropFilter: none;
    --sombraBtn: #dddddd;
    --fundo: white;
    --corTituloPage: #0b0e31;
    --corBotoes: #F4F4FE;
    --backdrop-filter: none;
}

.container {
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;

    position: fixed;
    z-index: 3;
    margin-top: 30px;
    margin-left: 200px;
    border-top-left-radius: 50px;
    background: var(--fundo);

    
    height: 100%;
    width: calc(100% - 200px - 20%);

    overflow-y: auto;  // ativa a rolagem vertical

    // // rolagem personalizada (opcional)
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 4px;
    }
}

.visionboardImage {
    position: absolute;
    opacity: 0.3;
    object-fit: cover;
    margin: auto;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.preVisionBordContainer {
    position: relative;
    background-color: #0b0e31;
    margin-top: 0px;
    width: 100%;
    height: 30%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.verVisionBoard {
    width: 100%;
    height: 100%;
    justify-content: space-between;

    button{
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-weight: 600;
        font-size: 20px;
        text-decoration: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    button:hover{
        font-size: 25px;
        transition: 0.5s;
    }
    
}

.tituloContainer {
    width: 100%;
    margin: 50px;
    align-items: center;

    h1 {
        color: var(--corTituloPage);
        font-weight: 700;
        font-size: 40px;
    }
}

.containerConteudo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;  
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 150px;
    
    .categoria {
        width: 100%;
        height: 130px;
        background: var(--corBotoes);
        border-radius: 22px;

        h2 {
            font-weight: 600;
            font-size: 18px;
            color: var(--corTituloPage);
        }

        /* O “vidro” de verdade */
        backdrop-filter: var(--backdrop-filter);
        -webkit-backdrop-filter: blur(18px) saturate(160%) contrast(105%);

        /* Borda e “acabamento” */
        border: var(--border);

        /* Sombra + brilho interno */
        box-shadow: var(--box-shadow);
    }

}

.containerConteudoCategoria {
    margin: 30px 20px;
}

.containerBotao {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .botaoEditar {
        text-decoration: none;
        color: #ACACAC;
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;
        padding: 5px 20px;
    }

    a {
        text-decoration: none;
        color: #ACACAC;
        font-weight: 500;
        font-size: 18px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0B0E31F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 90px;
    border-radius: 12px;
    text-align: center;
}

.popupImage {
    border-radius: 30px;
    max-width: 100%;
    height: auto;
}

.containerBotoes{
    margin: 20px;
    width: 100%;
    height: 50px;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;

    h2 {
        color: white;
    }
}

.botaoVoltar {
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    color: #0B0E31F0;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
}

.mob {
    .container {
        overflow-x: hidden;
        font-family: 'Inter', sans-serif;

        position: fixed;
        z-index: 3;
        margin: auto;
        margin-top: 70px;
        // margin-left: 200px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background: var(--fundo);
        height: 100%;
        width: 100vw;
    }

    .visionboardImage {
        position: absolute;
        opacity: 0.3;
        object-fit: cover;
        margin: auto;
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .preVisionBordContainer {
        position: relative;
        background-color: #0b0e31;
        margin-top: 0px;
        width: 100%;
        height: 30%;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;

    }

    .verVisionBoard {
        width: 100%;
        height: 100%;
        justify-content: space-between;

        button{
            width: 100%;
            cursor: pointer;
            border: none;
            background-color: transparent;
            font-weight: 600;
            font-size: 20px;
            text-decoration: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }

        button:hover{
            font-size: 25px;
            transition: 0.5s;
        }
        
    }

    .tituloContainer {
        width: 100%;
        // margin: 50px;
        margin: 0;
        align-items: center;

        h1 {
            text-align: center;
            font-weight: 700;
            font-size: 40px;
        }
    }

    .containerConteudo {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 30px;
        row-gap: 30px;  
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 150px;
        
        .categoria {
            width: 100%;
            height: 130px;
            background: var(--corBotoes);
            border-radius: 22px;
            box-shadow: 0px 1px 10.2px 0px var(--sombraBtn);

            h2 {
                font-weight: 600;
                font-size: 18px;
            }

        }

    }

    .containerConteudoCategoria {
        margin: 30px 20px;
    }

    .containerBotao {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        button {
            cursor: pointer;
            background-color: var(--fundo);
            border: none;
            width: 119px;
            height: 27px;
            border-radius: 7px;

            color: #ACACAC;
            font-weight: 700;
            font-size: 12px;
        }

        a {
            width: 119px;
            text-decoration: none;
            color: #ACACAC;
            font-weight: 700;
            font-size: 12px;
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #0B0E31F0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .popup {
        transform: rotate(90deg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        padding: 0px;
        border-radius: 12px;
        text-align: center;
    }

    .popupImage {
        border-radius: 30px;
        max-width: 100%;
        height: auto;
    }

    .containerBotoes{
        margin: 20px;
        width: 100%;
        height: 50px;
        // background-color: white;
        align-content: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: 'Inter', sans-serif;

        h2 {
            color: white;
        }
    }

    .botaoVoltar {
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;
        background-color: white;
        color: #0B0E31F0;
        border: none;
        padding: 10px 20px;
        border-radius: 25px;
    }
}

.containerTipoMenu2 {
    .container {
        overflow-x: hidden;
        font-family: 'Inter', sans-serif;

        position: fixed;
        z-index: 3;
        margin-top: 70px;
        margin-left: 0px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background-color: var(--fundo);
        height: 100%;
        width: 100%;
    }
}