@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.dark {
    --fundo: url("/darkback3.jpg");
    // --fundo: #181818;
    --corTituloPage: white;
    --corBotoes: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255,255,255,0.04) 30%,
            rgba(11, 14, 49, 0.356) 65%,
            rgba(0,0,0,0.20) 100%
        ),
        /* Tom frio (vidro) + leve escurecimento no fundo */
        linear-gradient(135deg,
        rgba(160, 211, 255, 0.014) 0%,
        rgba(120, 170, 255, 0) 45%,
        rgba(0,0,0,0.06) 100%
        ),
        /* Brilho de borda “de cima” (edge highlight) */
        linear-gradient(180deg,
        rgba(255, 255, 255, 0.098) 0%,
        rgba(255,255,255,0.08) 35%,
        rgba(255,255,255,0.00) 70%
        );
    --sombraBtn: #0b0e3176;
    --backdrop-filter: blur(18px) saturate(160%) contrast(105%);
    --webkitBackdropFilter: blur(18px) saturate(160%) contrast(105%);
    --border: 1px solid rgba(255,255,255,0.22);
    --box-shadow: 0 10px 30px rgba(0,0,0,0.22), inset 0 1px 0 rgba(255,255,255,0.45);
    --corFundoBotao: rgb(53, 53, 53);
    --fundoBotaoNovo: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255,255,255,0.04) 30%,
            #e760484f 65%,
            rgba(0,0,0,0.20) 100%
        ),
        /* Tom frio (vidro) + leve escurecimento no fundo */
        linear-gradient(135deg,
        rgba(160, 211, 255, 0.014) 0%,
        rgba(120, 170, 255, 0) 45%,
        rgba(0,0,0,0.06) 100%
        ),
        /* Brilho de borda “de cima” (edge highlight) */
        linear-gradient(180deg,
        rgba(255, 255, 255, 0.098) 0%,
        rgba(255,255,255,0.08) 35%,
        rgba(255,255,255,0.00) 70%
        );
    --corBotaoFiltro: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255,255,255,0.04) 30%,
            #e7604800 65%,
            rgba(0,0,0,0.20) 100%
        ),
        /* Tom frio (vidro) + leve escurecimento no fundo */
        linear-gradient(135deg,
        rgba(160, 211, 255, 0.014) 0%,
        rgba(120, 170, 255, 0) 45%,
        rgba(0,0,0,0.06) 100%
        ),
        /* Brilho de borda “de cima” (edge highlight) */
        linear-gradient(180deg,
        rgba(255, 255, 255, 0.098) 0%,
        rgba(255,255,255,0.08) 35%,
        rgba(255,255,255,0.00) 70%
        );
    --corBotoesAtivoFiltro: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255,255,255,0.04) 30%,
            rgb(11, 14, 49) 65%,
            rgba(0,0,0,0.20) 100%
        ),
        /* Tom frio (vidro) + leve escurecimento no fundo */
        linear-gradient(135deg,
        rgba(160, 211, 255, 0.014) 0%,
        rgba(120, 170, 255, 0) 45%,
        rgba(0,0,0,0.06) 100%
        ),
        /* Brilho de borda “de cima” (edge highlight) */
        linear-gradient(180deg,
        rgba(255, 255, 255, 0.098) 0%,
        rgba(255,255,255,0.08) 35%,
        rgba(255,255,255,0.00) 70%
        );
    --iconePrincipal: brightness(0) invert(1);
    --background-inputs: #535353;
    --colorOverlay: #0b0e3156;
    --fundoPopUp: #181818;
    --sombraNavegacao: 0px 1px 10.2px 0px #ffffff40;
}
    
.temaClaro {
    --fundoPopUp: white;
    --corFundoBotao: white;
    --box-shadow: 0px 1px 10.2px 0px #a6a6a6;
    --border: none;
    --webkitBackdropFilter: none;
    --sombraBtn: #dddddd;
    --fundo: #E7E2D6;
    --corTituloPage: #E76148;
    --corBotoes: #F4F4FE;
    --backdrop-filter: none;
    --fundoBotaoNovo: #E76148;
    --corBotaoFiltro: #EFEFEF;
    --corBotoesAtivoFiltro: #0b0e31;
    --iconePrincipal: none;
    --background-inputs: #F4F4FE;
    --colorOverlay: #D9D9D994;
    --sombraNavegacao: 0px 1px 10.2px 0px #00000040;
}

.cardRegistro{
    background-color: var(--background-inputs);
    width: 622px;
    height: 583px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.52);
    font-family: 'Inter', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    h1 {
        color: var(--corTituloPage);
        font-family: 'Inter', sans-serif;
        font-weight: 900;
        font-size: 32px;
        margin: 0;
    }

}

.subtitulo {
    display: flex;
    flex-direction: row;
    align-items: center;;
    margin-top: -5px;

    p {
        margin-right: 5px;
        color: #0B0E31;
        font-weight: 500;
        font-size: 19px;
    }
}

.email{
    margin: 0;
}


.esqueciSenhaContainer{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;

    a {
        font-family: 'Inter', sans-serif;
        color: #0B0E31;
    }
}


.naoTemConta {
    margin: 20px;
    font-family: 'Inter', sans-serif;
    color: #0B0E31;

    a {
        color: #0B0E31;
        margin-left: 10px;
    }
}

.mobile {
    position: fixed;
    overflow: hidden;
    margin-top: 5%;
    background-color: #0B0E31;
    width: 100vw;
    height: 100vh;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;

    
    .container{
        display: flex;
        height: 50%;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 10%;
        padding-left: 30px;
        padding-right: 30px;

        h1 {
            color: white;
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 2rem;
            // font-size: 32px;
            margin: 0;
        }

    }
    
    a {
        color: white;
    }

    .naoTemConta {
        color: white;

    }

    .botaoGrande{
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        background-color: #E76148;
        border: none;
        color: white;
        width: 90vw;
        padding: 15px 90px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 30px;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

}
