@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.cardRegistro{
    background-color: #F4F4FE;
    width: 622px;
    height: 583px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.52);
    font-family: 'Inter', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    h1 {
        color: #E76148;
        font-family: 'Inter', sans-serif;
        font-weight: 900;
        font-size: 32px;
        margin: 0;
    }

}

.subtitulo {
    display: flex;
    flex-direction: row;
    align-items: center;;
    margin-top: -5px;

    p {
        margin-right: 5px;
        color: #0B0E31;
        font-weight: 500;
        font-size: 19px;
    }
}

.email{
    margin: 0;
}


.esqueciSenhaContainer{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;

    a {
        font-family: 'Inter', sans-serif;
        color: #0B0E31;
    }
}


.naoTemConta {
    margin: 20px;
    font-family: 'Inter', sans-serif;
    color: #0B0E31;

    a {
        color: #0B0E31;
        margin-left: 10px;
    }
}

.mobile {
    position: fixed;
    overflow: hidden;
    margin-top: 50px;
    background-color: #0B0E31;
    width: 100vw;
    height: 100vh;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;

    
    .container{
        display: flex;
        height: 50%;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 50px;
        padding-left: 30px;
        padding-right: 30px;

        h1 {
            color: white;
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 2rem;
            // font-size: 32px;
            margin: 0;
        }

    }
    
    a {
        color: white;
    }

    .naoTemConta {
        color: white;

    }
}
