@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.containerTipoMenu2 {
    .container {
        overflow-x: hidden;
        font-family: 'Inter', sans-serif;

        position: fixed;
        z-index: 3;
        margin-top: 70px;
        margin-left: 0px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background-color: white;
        height: 100%;
        width: 100%;
    }
}

.container {
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;

    position: fixed;
    z-index: 3;
    margin-top: 30px;
    margin-left: 200px;
    border-top-left-radius: 50px;
    background-color: white;
    height: 100%;
    width: calc(80% - 200px);
}


.tituloContainer {
    width: 100%;
    margin: 50px;
    align-items: center;

    h1 {
        font-weight: 700;
        font-size: 40px;
    }

    p {
        color: #C0C0C0;
        width: 80%;
    }
}

.containerConteudo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;  
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 150px;

    .objetivo {
        width: 100%;
        padding: 30px 0px;
        background-color: #F4F4FE;
        border-radius: 22px;
        box-shadow: 0px 1px 10.2px 0px rgba(0, 0, 0, 0.25);

        h3 {
            font-weight: 600;
            font-size: 18px;
        }

    }

    .conteudoCard{
        margin: 0px 30px;
    }

}

.containerBotao {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
        cursor: pointer;
        background-color: white;
        border: none;
        width: 119px;
        height: 27px;
        border-radius: 7px;

        color: #ACACAC;
        font-weight: 500;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        color: #ACACAC;
        font-weight: 500;
        font-size: 18px;
    }
}

.mob {

    .container {
        overflow-x: hidden;
        font-family: 'Inter', sans-serif;

        position: fixed;
        z-index: 3;
        margin: auto;
        margin-top: 70px;
        // margin-left: 200px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background-color: white;
        height: 100%;
        width: 100vw;
    }


    .tituloContainer {
        width: 100%;
        margin: 0px;
        align-items: center;
        text-align: center;

        h1 {
            font-weight: 700;
            font-size: 40px;
        }

        p {
            color: #C0C0C0;
            width: 80%;
        }
    }

    .containerConteudo {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 30px;
        row-gap: 30px;  
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 150px;

        .objetivo {
            width: 100%;
            padding: 30px 0px;
            background-color: #F4F4FE;
            border-radius: 22px;
            box-shadow: 0px 1px 10.2px 0px rgba(0, 0, 0, 0.25);

            h3 {
                font-weight: 700;
                font-size: 12px;
            }

        }

        .conteudoCard{
            margin: 0px 30px;
        }

    }

    .containerBotao {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        button {
            cursor: pointer;
            background-color: white;
            border: none;
            width: 119px;
            height: 27px;
            border-radius: 7px;

            color: #ACACAC;
            font-weight: 700;
            font-size: 12px;
        }

        a {
            text-decoration: none;
            color: #ACACAC;
            font-weight: 500;
            font-size: 18px;
        }
    }  
}