.grafico {
    width: 100%;
    height: 100%;
    margin: auto;
    align-items: center;

    canvas {
        width: 100% !important;
        height: 100% !important;
    }
}

.mob {
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 20px
}