
.dark {
    --fundo: url("/darkback3.jpg");
    // --fundo: #181818;
    --corTituloPage: white;
    --corBotoes: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255,255,255,0.04) 30%,
            rgba(11, 14, 49, 0.356) 65%,
            rgba(0,0,0,0.20) 100%
        ),
        /* Tom frio (vidro) + leve escurecimento no fundo */
        linear-gradient(135deg,
        rgba(160, 211, 255, 0.014) 0%,
        rgba(120, 170, 255, 0) 45%,
        rgba(0,0,0,0.06) 100%
        ),
        /* Brilho de borda “de cima” (edge highlight) */
        linear-gradient(180deg,
        rgba(255, 255, 255, 0.098) 0%,
        rgba(255,255,255,0.08) 35%,
        rgba(255,255,255,0.00) 70%
        );
    --sombraBtn: #0b0e3176;
    --backdrop-filter: blur(18px) saturate(160%) contrast(105%);
    --webkitBackdropFilter: blur(18px) saturate(160%) contrast(105%);
    --border: 1px solid rgba(255,255,255,0.22);
    --box-shadow: 0 10px 30px rgba(0,0,0,0.22), inset 0 1px 0 rgba(255,255,255,0.45);
    --corFundoBotao: rgb(53, 53, 53);
}

.temaClaro {
    --corFundoBotao: white;
    --box-shadow: 0px 1px 10.2px 0px #a6a6a6;
    --border: none;
    --webkitBackdropFilter: none;
    --sombraBtn: #dddddd;
    --fundo: white;
    --corTituloPage: #0b0e31;
    --corBotoes: #F4F4FE;
    --backdrop-filter: none;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0px;
    border-radius: 11px;
    background: var(--fundo);
    border: var(--border);

    .conteudo {
        margin: 0px 20px;

        h3 {
            width: 100%;
            font-weight: 500;
            font-size: 16px;
            margin: 0;
            color: #ACACAC;
        }
    }

    .porcentagem {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p {
            font-weight: 600;
            font-size: 15px;
            color: var(--corTituloPage);
        }
    }

}

.classificacaoRegular {
    color: #0B0E31;
    padding: 5px 20px;
    background-color: #FFF0C0;
    font-weight: 600;
    font-style: Medium;
    font-size: 15px;
    border-radius: 12px;
}

.classificacaoRuim {
    color: #0B0E31;
    padding: 5px 20px;
    background-color: #ffc0c0;
    font-weight: 600;
    font-style: Medium;
    font-size: 15px;
    border-radius: 12px;
}

.classificacaoBom {
    color: #0B0E31;
    padding: 5px 20px;
    background-color: #C3F8C7;
    font-weight: 600;
    font-style: Medium;
    font-size: 15px;
    border-radius: 12px;
}

.barraDeProgresso {
    border-radius: 30px;
    margin: 10px 0;
    width: 100%;
    background: #F4F4FE;
    height: 20px;
    margin-bottom: 20px;

    .progresso {
        border-radius: 30px;
        margin: 10px 0;
        height: 20px;
        background: linear-gradient(90deg, #AFDCFC 0%, #1A8EE1 100%);
    }

}