@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.dark {
    --fundo: url("/darkback3.jpg");
    // --fundo: #181818;
    --corTituloPage: white;
    --corBotoes: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255,255,255,0.04) 30%,
            rgba(11, 14, 49, 0.356) 65%,
            rgba(0,0,0,0.20) 100%
        ),
        /* Tom frio (vidro) + leve escurecimento no fundo */
        linear-gradient(135deg,
        rgba(160, 211, 255, 0.014) 0%,
        rgba(120, 170, 255, 0) 45%,
        rgba(0,0,0,0.06) 100%
        ),
        /* Brilho de borda â€œde cimaâ€ (edge highlight) */
        linear-gradient(180deg,
        rgba(255, 255, 255, 0.098) 0%,
        rgba(255,255,255,0.08) 35%,
        rgba(255,255,255,0.00) 70%
        );
    --sombraBtn: #0b0e3176;
    --backdrop-filter: blur(18px) saturate(160%) contrast(105%);
    --webkitBackdropFilter: blur(18px) saturate(160%) contrast(105%);
    --border: 1px solid rgba(255,255,255,0.22);
    --box-shadow: 0 10px 30px rgba(0,0,0,0.22), inset 0 1px 0 rgba(255,255,255,0.45);
    --corFundoBotao: rgb(53, 53, 53);
    --fundoBotaoNovo: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255,255,255,0.04) 30%,
            #e760484f 65%,
            rgba(0,0,0,0.20) 100%
        ),
        /* Tom frio (vidro) + leve escurecimento no fundo */
        linear-gradient(135deg,
        rgba(160, 211, 255, 0.014) 0%,
        rgba(120, 170, 255, 0) 45%,
        rgba(0,0,0,0.06) 100%
        ),
        /* Brilho de borda â€œde cimaâ€ (edge highlight) */
        linear-gradient(180deg,
        rgba(255, 255, 255, 0.098) 0%,
        rgba(255,255,255,0.08) 35%,
        rgba(255,255,255,0.00) 70%
        );
    --corBotaoFiltro: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255,255,255,0.04) 30%,
            #e7604800 65%,
            rgba(0,0,0,0.20) 100%
        ),
        /* Tom frio (vidro) + leve escurecimento no fundo */
        linear-gradient(135deg,
        rgba(160, 211, 255, 0.014) 0%,
        rgba(120, 170, 255, 0) 45%,
        rgba(0,0,0,0.06) 100%
        ),
        /* Brilho de borda â€œde cimaâ€ (edge highlight) */
        linear-gradient(180deg,
        rgba(255, 255, 255, 0.098) 0%,
        rgba(255,255,255,0.08) 35%,
        rgba(255,255,255,0.00) 70%
        );
    --corBotoesAtivoFiltro: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255,255,255,0.04) 30%,
            rgb(11, 14, 49) 65%,
            rgba(0,0,0,0.20) 100%
        ),
        /* Tom frio (vidro) + leve escurecimento no fundo */
        linear-gradient(135deg,
        rgba(160, 211, 255, 0.014) 0%,
        rgba(120, 170, 255, 0) 45%,
        rgba(0,0,0,0.06) 100%
        ),
        /* Brilho de borda â€œde cimaâ€ (edge highlight) */
        linear-gradient(180deg,
        rgba(255, 255, 255, 0.098) 0%,
        rgba(255,255,255,0.08) 35%,
        rgba(255,255,255,0.00) 70%
        );
    --iconePrincipal: brightness(0) invert(1);
    --background-inputs: #535353;
    --colorOverlay: #0b0e3156;
    --fundoPopUp: #181818;
    --sombraNavegacao: 0px 1px 10.2px 0px #ffffff40;
}
    
.temaClaro {
    --fundoPopUp: white;
    --corFundoBotao: white;
    --box-shadow: 0px 1px 10.2px 0px #a6a6a6;
    --border: none;
    --webkitBackdropFilter: none;
    --sombraBtn: #dddddd;
    --fundo: white;
    --corTituloPage: #0b0e31;
    --corBotoes: #F4F4FE;
    --backdrop-filter: none;
    --fundoBotaoNovo: #E76148;
    --corBotaoFiltro: #EFEFEF;
    --corBotoesAtivoFiltro: #0b0e31;
    --iconePrincipal: none;
    --background-inputs: #F4F4FE;
    --colorOverlay: #D9D9D994;
    --sombraNavegacao: 0px 1px 10.2px 0px #00000040;
}

.containerTipoMenu2 {
    .container {
        overflow-x: hidden;
        font-family: 'Inter', sans-serif;

        position: fixed;
        z-index: 3;
        margin-top: 70px;
        margin-left: 0px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background: var(--fundo);
        height: 100%;
        width: 100%;
    }
}

.container {
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;

    position: fixed;
    z-index: 3;
    margin-top: 30px;
    margin-left: 200px;
    border-top-left-radius: 50px;
    background: var(--fundo);
    height: 100%;
    width: calc(100% - 200px - 20%);

    // // rolagem personalizada (opcional)
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 4px;
    }

    @media (max-width: 768px) {
        margin: 0;
        margin-top: 70px;
        border-top-right-radius: 50px;
        width: 100%;
    }
}


.tituloContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-weight: 700;
        font-size: 40px;
        margin-left: 50px;
        color: var(--corTituloPage);

        p {
            width: 80%;
            color: #C0C0C0;

            font-weight: 700;
            font-size: 16px;
        }
    }

    .botaoNovo {
        font-weight: 600;
        font-size: 15px;
        align-items: center;
        align-content: center;
        
        color: #FFFFFF;
        background: var(--fundoBotaoNovo);
        border-radius: 30px;
        margin-right: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px 30px;
        border: none;
        
        strong {
            margin-left: 10px;
        }

        @supports ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))) {
            /* O â€œvidroâ€ de verdade */
            backdrop-filter: none;
            -webkit-backdrop-filter: var(--backdrop);
            
            /* Borda e â€œacabamentoâ€ */
            border: var(--border);

            /* Sombra + brilho interno */
            box-shadow: var(--box-shadow);
        }

    }

    @media (max-width: 768px) {
        flex-direction: column;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        align-content: center;

        h1 {
            width: 90%;
            margin: 0px;
            text-align: center;

            p {
                width: 90%;
                margin: auto;
                margin-top: 20px;
            }
        }

        .botaoNovo {
            margin: auto;
            margin-top: 20px;
        }
    }
}


.containerConteudo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;  
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 150px;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.coluna {
    width: 33%;
    text-align: center;
    margin-right: 20px;
}



.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.input {
    width: 100%;
    height: 40px;
    background-color: var(--background-inputs);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input{
        font-weight: 600;
        font-size: 15px;
        margin-left: 20px;
        color: var(--corTituloPage);
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
    }

    input:focus {
        outline: none;
        border: none;
        background-color: transparent;
    }

}

.lapis {
    margin: auto;
    margin-right: 20px;
}

.place {
    margin: auto;
    font-weight: 600;
    font-size: 15px;
    margin-left: 20px;
    color: #999999;
    width: 100%;
    border: none;
    background-color: transparent; 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--colorOverlay);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: flex;
    flex-direction: row;
}

.containerPopUp {
     max-height: 100%; // define a altura da Ã¡rea visÃ­vel
    overflow-y: auto;  // ativa a rolagem vertical
    padding-right: 8px; // evita scroll invisÃ­vel

    // rolagem personalizada (opcional)
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 4px;
    }


    scale: 0.9;
    width: 40%;
    border-radius: 38px;
    align-items: center;
    align-content: center;
    background-color: var(--fundoPopUp);
    font-family: 'Inter', sans-serif;
    color: var(--corTituloPage);
    font-weight: 800;
    font-size: 32px;
    
    .conteudo {
        padding: 30px;
        
        button {
            color: white;
            background-color: #E76148;
            border: none;
            width: 100%;
            margin-top: 40px;
            height: 40px;
            border-radius: 20px;
            font-weight: 700;
            font-size: 18px;

            .concluido {
                margin: auto;
                margin-top: 2px;
                margin-left: 10px;
            }
        }
    }

    .icone {
        width: 100%;
        filter: var(--iconePrincipal);
    }


    h2 {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 28px;
        text-align: center;
        color: var(--corTituloPage);
    }

    @media (max-width: 768px) {
        max-height: 70%;
        scale: 1;
        width: 90%;
        font-size: 22px;

        .conteudo {
            button {
                font-size: 16px;
            }
        }

        h2 {
            font-size: 26px;
        }
    }
}

.botoesTopo {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lixeira {
    scale: 0.7;
    border: none;
    background-color: transparent;
    margin: 5px 15px;
    padding: 10px;
}

.botaoVoltar {

    border: none;
    background-color: transparent;
    margin: 4px 10px;
    padding: 10px;
    color: var(--corTituloPage);

}

.botaoVoltar:hover {
    background-color: rgb(255, 73, 73);
    margin: 1px 1px;
    padding: 20px 20px;
    color: white;
    border-radius: 38px 0px 38px 0px;
    transition: 0.3s;
}

.conteudo {

    h3 {
        margin-top: 40px;
        margin-bottom: 10px;
        color: var(--corTituloPage);
        font-weight: 600;
        font-size: 18px;
    }

    @media (max-width: 768px) {
        h3 {
            font-size: 16px;
        }
    }
}

.containerImagemDeCapa {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.descricaoCapaDoLivro {
    color: #CAC8C8;

    font-weight: 600;
    font-size: 14px;

    width: 70%;

}

.containerUpload {
    border-radius: 12px;
    margin-top: 20px;
    background-color: var(--background-inputs);
    padding: 20px 30px;
    align-items: center;
    align-content: center;
}

.coluna {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.livro {
    margin-top: 20px;
    background: var(--corBotoes);
    padding: 20px;
    box-shadow: 0px 1px 10.2px 0px #00000040;
    border-radius: 25px;
    align-items: center;
    align-content: center;

    h3 {
        color: var(--corTituloPage);

        font-weight: 600;
        font-size: 16px;
        text-align: center;
    }

    @supports ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))) {
        /* O â€œvidroâ€ de verdade */
        backdrop-filter: none;
        -webkit-backdrop-filter: var(--backdrop);
        
        /* Borda e â€œacabamentoâ€ */
        border: var(--border);

        /* Sombra + brilho interno */
        box-shadow: var(--box-shadow);
    }

}

.ImgCapaDeLivro {
    align-items: center;
    align-content: center;
    width: 100%;
    height: 300px;
    border-radius: 15px;

    img {
        width: 100%; // ou qualquer valor desejado
        height: auto;
        object-fit:cover;
        display: block;
    }
}

