@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.linha {
    position: fixed;
    background-color: #0B0E31;
    width: 100%;
    height: 100vh;
    z-index: 2;
}

.container {
    z-index: 2;
    position: fixed;
    margin-top: 0px;
    font-family: 'Inter', sans-serif;
    color: #E7E2D6;
    background-color: #0B0E31;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    align-content: center;
}

.titulo{    
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.logo {
    margin-top: 0px;
    margin-right: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 15px;
    
  a {
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        font-weight: 600;
        font-size: 20px;
        height: 100%;
        position: relative;
        padding-left: 15px;
    }

    a:hover {
        .marcador {
            visibility: visible;
            opacity: 1;
            transition: 0.3s;
        }
    }

    a:active {
        .marcador {
            visibility: visible;
            transition: 0.1s;
        }
    }

}


.marcador {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 129px;
    top: 0;
    width: 12px;
    height: 100%;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.ativo {
    position: absolute;
    left: 129px;
    top: 0;
    width: 12px;
    height: 100%;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.ajuste {
    margin-top: 20px;
}

.esp {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.mob {
    background-color: #0B0E31;
    width: 100vw;
    height: 200px;

    position: fixed;
    background-color: #0B0E31;
    z-index: 2;
    
    .topo {
        align-items: center;
        padding: 20px 50px;
        display: flex;
        flex-direction: row;
        color: white;
        justify-content: space-between;
    }

    .linha {
        position: fixed;
        background-color: #0B0E31;
        width: 100%;
        height: 100vh;
        z-index: 2;
    }

    .container {
        margin-top: 0px;
        font-family: 'Inter', sans-serif;
        color: #E7E2D6;
        background-color: #0B0E31;
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .titulo{    
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100px;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }

    .logo {
        margin-top: 0px;
        margin-right: 10px;
    }

    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 50px;
        padding-left: 10px;
        margin-bottom: 15px;
        
    a {
            display: flex;
            align-items: center;
            color: white;
            text-decoration: none;
            font-weight: 600;
            font-size: 20px;
            height: 100%;
            position: relative;
            padding-left: 15px;
        }

        a:hover {
            .marcador {
                visibility: visible;
                opacity: 1;
                transition: 0.3s;
            }
        }

        a:active {
            .marcador {
                visibility: visible;
                transition: 0.1s;
            }
        }

    }


    .marcador {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 129px;
        top: 0;
        width: 12px;
        height: 100%;
        background-color: white;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .ativo {
        position: absolute;
        left: 129px;
        top: 0;
        width: 12px;
        height: 100%;
        background-color: white;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .ajuste {
        margin-top: 20px;
    }

    .esp {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.mobTipoMenu2 {
    background-color: #0B0E31;
    width: 100vw;
    height: 100%;

    position: fixed;
    background-color: #0B0E31;
    z-index: 2;

    .icones {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 30px;  
    }
    
    .topo {
        align-items: center;
        padding: 20px 50px;
        display: flex;
        flex-direction: row;
        color: white;
        justify-content: space-between;
    }

    .linha {
        position: fixed;
        background-color: #0B0E31;
        width: 100%;
        height: 100vh;
        z-index: 2;
    }

    .container {
        margin-top: 0px;
        font-family: 'Inter', sans-serif;
        color: #E7E2D6;
        background-color: #0B0E31;
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0px;
    }

    .titulo{    
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100px;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }

    .logo {
        margin-top: 0px;
        margin-right: 10px;
    }

    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 50px;
        // padding-left: 10px;
        padding: 50px 20px;
        // margin-bottom: 15px;
        margin: 0px;
        // border: #E7E2D6 1px solid;
        
        a {
            display: flex;
            align-items: center;
            color: white;
            text-decoration: none;
            font-weight: 600;
            font-size: 20px;
            height: 100%;
            position: relative;
            padding-left: 15px;
        }

        a:hover {
            .marcador {
                visibility: visible;
                opacity: 1;
                transition: 0.3s;
            }
        }

        a:active {
            .marcador {
                visibility: visible;
                transition: 0.1s;
            }
        }

    }


    .marcador {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 129px;
        top: 0;
        width: 12px;
        height: 100%;
        background-color: white;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .ativo {
        position: absolute;
        left: 129px;
        top: 0;
        width: 12px;
        height: 100%;
        background-color: white;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .ajuste {
        width: 100%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        column-gap: 30px;
        row-gap: 30px;  
    }

    .esp {
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        row-gap: 30px;  
    }
}



