@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.linha {
    position: fixed;
    background-color: #0B0E31;
    width: 100%;
    height: 100vh;
    z-index: 2;
}

.container {
    z-index: 2;
    position: fixed;
    margin-top: 0px;
    font-family: 'Inter', sans-serif;
    color: #E7E2D6;
    background-color: #0B0E31;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    align-content: center;
}

.titulo{    
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.logo {
    margin-top: 0px;
    margin-right: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 15px;
    
  a {
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        font-weight: 600;
        font-size: 20px;
        height: 100%;
        position: relative;
        padding-left: 15px;
    }

    a:hover {
        .marcador {
            visibility: visible;
            opacity: 1;
            transition: 0.3s;
        }
    }

    a:active {
        .marcador {
            visibility: visible;
            transition: 0.1s;
        }
    }

}


.marcador {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 129px;
    top: 0;
    width: 12px;
    height: 100%;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.ativo {
    position: absolute;
    left: 129px;
    top: 0;
    width: 12px;
    height: 100%;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.ajuste {
    margin-top: 20px;
}

.esp {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerMenuResumo {
    margin-top: 30px;
    position: fixed;       
    top: 0;                
    right: 0;              
    width: 20%;
    height: 100vh;         
    background-color: #F4F4FE;
    z-index: 4;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;

    h2 {
        margin-top: 40px;
        margin-left: 40px;
        width: 100%;
        font-family: 'Inter', sans-serif;
        color: #0B0E31;
        font-size: 20px;
        font-weight: 600;
    }
}

.calendar {
    margin-top: 40px;
    border: none;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

:global(.react-calendar) {
    background-color: transparent !important;
    border: none !important;
    width: 350px !important;
    font-family: 'Inter', sans-serif !important;
    line-height: 1.125em !important;
    color: #0B0E31 !important;
}
:global(.react-calendar__navigation button:enabled:hover){
    background-color: #0B0E31 !important;
    color: white;
    border-radius: 30px;
    transition: 0.3s;
}
:global(.react-calendar__navigation button:enabled:focus){
    background-color: #0B0E31 !important;
    color: white;
    border-radius: 30px;
    transition: 0.3s;
}
:global(.react-calendar__navigation button:disabled) {
    background-color: #0B0E31 !important;
    color: white;
    border-radius: 30px;
    transition: 0.3s;
}
:global(.react-calendar__month-view__weekdays) {
    text-align: center;
    text-transform: lowercase !important;
    font: italic !important;
    font-size: 0.75em;
    font-weight: bold;
    color: #B3B3B3;
    text-decoration: none !important;
}

:global(.react-calendar__month-view__days__day--weekend) {
    color: #0B0E31 !important;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
    color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

:global(.react-calendar__tile) {
    max-width: 100%;
    padding: 10px 3.6667px !important;
    background: none;
    text-align: center;
    font: inherit;
    font-size: 0.833em;
    color: #0B0E31 !important;
    border-radius: 30px !important;

}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

:global(.react-calendar__tile:enabled:focus) {
    background-color: #e6e6e6;
    background-color: #0B0E31 !important;
    color: white !important;
    border-radius: 30px;
    transition: 0.3s;
}

:global(.react-calendar__tile:enabled:hover) {
    background-color: #e6e6e6;
    background-color: #0B0E31 !important;
    color: white !important;
    border-radius: 30px;
    transition: 0.3s;
}

:global(.react-calendar__tile--now) {
  background: #E76148 !important;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #E76148 !important;;
}

:global(.react-calendar__tile--hasActive) {
    background: #76baff;
}

:global(.react-calendar__tile--hasActive:enabled:hover) {
    background: #a9d4ff;
}
:global(.react-calendar__tile--hasActive:enabled:focus) {
    background: #a9d4ff;
}

:global(.react-calendar__tile--active) {
    background-color: #e6e6e6;
    background-color: #0B0E31 !important;
    color: white !important;
    border-radius: 30px;
    transition: 0.3s;
}

:global(.react-calendar__tile--active:enabled:hover) {
    background-color: #e6e6e6;
    background-color: #0B0E31 !important;
    color: white !important;
    border-radius: 30px;
    transition: 0.3s;
}
:global(.react-calendar__tile--active:enabled:focus) {
    background-color: #e6e6e6;
    background-color: #0B0E31 !important;
    color: white !important;
    border-radius: 30px;
    transition: 0.3s;
}


