@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.dark {
    --fundo: url("/darkback3.jpg");
    // --fundo: #181818;
    --corTituloPage: white;
    --corBotoes: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255,255,255,0.04) 30%,
            rgba(11, 14, 49, 0.356) 65%,
            rgba(0,0,0,0.20) 100%
        ),
        /* Tom frio (vidro) + leve escurecimento no fundo */
        linear-gradient(135deg,
        rgba(160, 211, 255, 0.014) 0%,
        rgba(120, 170, 255, 0) 45%,
        rgba(0,0,0,0.06) 100%
        ),
        /* Brilho de borda “de cima” (edge highlight) */
        linear-gradient(180deg,
        rgba(255, 255, 255, 0.098) 0%,
        rgba(255,255,255,0.08) 35%,
        rgba(255,255,255,0.00) 70%
        );
    --sombraBtn: #0b0e3176;
    --backdrop-filter: blur(18px) saturate(160%) contrast(105%);
    --webkitBackdropFilter: blur(18px) saturate(160%) contrast(105%);
    --border: 1px solid rgba(255,255,255,0.22);
    --box-shadow: 0 10px 30px rgba(0,0,0,0.22), inset 0 1px 0 rgba(255,255,255,0.45);
    --corFundoBotao: rgb(53, 53, 53);
    --fundoBotaoNovo: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255,255,255,0.04) 30%,
            #e760484f 65%,
            rgba(0,0,0,0.20) 100%
        ),
        /* Tom frio (vidro) + leve escurecimento no fundo */
        linear-gradient(135deg,
        rgba(160, 211, 255, 0.014) 0%,
        rgba(120, 170, 255, 0) 45%,
        rgba(0,0,0,0.06) 100%
        ),
        /* Brilho de borda “de cima” (edge highlight) */
        linear-gradient(180deg,
        rgba(255, 255, 255, 0.098) 0%,
        rgba(255,255,255,0.08) 35%,
        rgba(255,255,255,0.00) 70%
        );
    --corBotaoFiltro: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255,255,255,0.04) 30%,
            #e7604800 65%,
            rgba(0,0,0,0.20) 100%
        ),
        /* Tom frio (vidro) + leve escurecimento no fundo */
        linear-gradient(135deg,
        rgba(160, 211, 255, 0.014) 0%,
        rgba(120, 170, 255, 0) 45%,
        rgba(0,0,0,0.06) 100%
        ),
        /* Brilho de borda “de cima” (edge highlight) */
        linear-gradient(180deg,
        rgba(255, 255, 255, 0.098) 0%,
        rgba(255,255,255,0.08) 35%,
        rgba(255,255,255,0.00) 70%
        );
    --corBotoesAtivoFiltro: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255,255,255,0.04) 30%,
            rgb(11, 14, 49) 65%,
            rgba(0,0,0,0.20) 100%
        ),
        /* Tom frio (vidro) + leve escurecimento no fundo */
        linear-gradient(135deg,
        rgba(160, 211, 255, 0.014) 0%,
        rgba(120, 170, 255, 0) 45%,
        rgba(0,0,0,0.06) 100%
        ),
        /* Brilho de borda “de cima” (edge highlight) */
        linear-gradient(180deg,
        rgba(255, 255, 255, 0.098) 0%,
        rgba(255,255,255,0.08) 35%,
        rgba(255,255,255,0.00) 70%
        );
    --iconePrincipal: brightness(0) invert(1);
    --background-inputs: #535353;
    --colorOverlay: #0b0e3156;
    --fundoPopUp: #181818;
}
    
.temaClaro {
    --fundoPopUp: white;
    --corFundoBotao: white;
    --box-shadow: 0px 1px 10.2px 0px #a6a6a6;
    --border: none;
    --webkitBackdropFilter: none;
    --sombraBtn: #dddddd;
    --fundo: white;
    --corTituloPage: #0b0e31;
    --corBotoes: #F4F4FE;
    --backdrop-filter: none;
    --fundoBotaoNovo: #E76148;
    --corBotaoFiltro: #EFEFEF;
    --corBotoesAtivoFiltro: #0b0e31;
    --iconePrincipal: none;
    --background-inputs: #F4F4FE;
    --colorOverlay: #D9D9D994;
}

.calendar {
    margin: auto;
    border: none;
    width: 100%;
    font-family: 'Inter', sans-serif;

    button {
        background-color: transparent !important;
        border: none !important;
        width: 90% !important;
        font-family: 'Inter', sans-serif !important;
        line-height: 1.125em !important;
        color: var(--corTituloPage) !important;
        // font-size: 1.0rem !important;
        
        @media (max-width: 768px) {
            font-size: 1.0rem !important;
            opacity: 1;
            transition: 0.4s;
            margin: 0 !important;
        }

        text-align: center !important;
    }

    span {

        @media (max-width: 768px) {
            opacity: 1;
            transition: 0.4s;
            font-size: 8px;
            line-height: 0%;
        }
    }

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--colorOverlay);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: flex;
    flex-direction: row;
}

.containerPopUp {

    max-height: 100%; // define a altura da área visível
    overflow-y: auto;  // ativa a rolagem vertical
    padding-right: 8px; // evita scroll invisível

    // rolagem personalizada (opcional)
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 4px;
    }

    scale: 0.9;
    width: 40%;
    border-radius: 38px;
    align-items: center;
    align-content: center;
    background-color: var(--fundoPopUp);
    font-family: 'Inter', sans-serif;
    color: var(--corTituloPage);
    font-weight: 800;
    font-size: 32px;
    
    .conteudo {
        padding: 30px;
        
        button {
            color: white;
            background-color: #E76148;
            border: none;
            width: 100%;
            margin-top: 40px;
            height: 40px;
            border-radius: 20px;
            font-weight: 700;
            font-size: 20px;

            .concluido {
                margin: auto;
                margin-top: 2px;
                margin-left: 10px;
            }
        }
    }

    .icone {
        width: 100%;
        filter: var(--iconePrincipal);
    }


    h2 {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 28px;
        text-align: center;
        color: var(--corTituloPage);
    }

}

.botoesTopo {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lixeira {
    scale: 0.7;
    border: none;
    background-color: transparent;
    margin: 5px 15px;
    padding: 10px;
}

.botaoVoltar {
    border: none;
    background-color: transparent;
    margin: 4px 10px;
    padding: 10px;
    color: var(--corTituloPage);
}

.botaoVoltar:hover {
    background-color: rgb(255, 73, 73);
    margin: 1px 1px;
    padding: 20px 20px;
    color: white;
    border-radius: 38px 0px 38px 0px;
    transition: 0.3s;
}

.conteudo {

    h3 {
        margin-top: 40px;
        margin-bottom: 10px;
        color: var(--corTituloPage);
        font-weight: 600;
        font-size: 18px;
    }

}

.inputStatus {
    cursor: pointer;
    width: 100%;
    height: 40px;
    background-color: var(--background-inputs);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    // justify-content: center;

    position: relative;
    overflow: hidden;
    justify-content: space-around;
    color: var(--corTituloPage);

    p {
        text-align: center;
        font-weight: 600;
        font-size: 15px;
        color: #999999;
        width: 50%;
        border: none;
        background-color: transparent; 
    }
    
    .slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 40px;
        background-color: transparent;
        border-radius: 15px;
        transition: left 0.3s ease;
        box-shadow: 0px 1px 10.2px 0px rgba(0, 0, 0, 0.25);
        z-index: 0;
    }

    .right {
        left: 50%;
        background-color: #9bffa8;
    }

    .left {
        left: 0%;
        background-color: #0b0e31;
    }
    
    p {
        z-index: 1;
        width: 50%;
        text-align: center;
    }
}



.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.input {
    width: 100%;
    height: 40px;
    background-color: var(--background-inputs);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input{
        font-weight: 600;
        font-size: 15px;
        margin-left: 20px;
        color: var(--corTituloPage);
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
    }

    input::placeholder {
        color: #999999;
    }

    input:focus {
        outline: none;
        border: none;
        background-color: transparent;
    }

}

.lapis {
    margin: auto;
    margin-right: 20px;
}

.place {
    margin: auto;
    font-weight: 600;
    font-size: 15px;
    margin-left: 20px;
    color: #999999;
    width: 100%;
    border: none;
    background-color: transparent; 
}

.containerScroll {
  max-height: 500px; // define a altura da área visível
  overflow-y: auto;  // ativa a rolagem vertical
  padding-right: 8px; // evita scroll invisível
  margin-top: 16px;

  // rolagem personalizada (opcional)
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
}

.objetivo {
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px #F3F3F3;
    padding: 3px 20px;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    h4 {
        font-weight: 600;
        font-size: 18px;
        color: var(--corTituloPage);
    }
}

.objetivo:hover {
    background-color: var(--colorOverlay);
    cursor: pointer;
    transition: 0.3s;
}

.checkIcon {
    visibility: hidden;
}

.selecionado {
    visibility: visible;
}

.containerStatus {
    width: 100%;
    // max-height: 100px; // define a altura da área visível
    // overflow-y: auto;  // ativa a rolagem vertical
    // padding-right: 8px; // evita scroll invisível
    // margin-top: 16px;

    // // rolagem personalizada (opcional)
    // scrollbar-width: thin;
    // scrollbar-color: #ccc transparent;

    // &::-webkit-scrollbar {
    //     width: 6px;
    // }

    // &::-webkit-scrollbar-thumb {
    //     background-color: #ccc;
    //     border-radius: 4px;
    // }
}

.status {
    cursor: pointer;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: var(--background-inputs);
    color: var(--corTituloPage);

    font-weight: 600;
    font-size: 16px;

}

.diaDaSemana {
    cursor: pointer;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 60px;
    border-bottom: solid 2px #F3F3F3;
    color: var(--corTituloPage);
    font-weight: 600;
    font-size: 18px;
    justify-content: space-between;
    display: flex;
}

.diaDaSemana:hover {
    background-color: var(--colorOverlay);
}

.containerDataFinal {
    margin-top: 40px;
    font-weight: 600;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
    
    .inputDataFinal {
        padding: 10px 20px;
        border-radius: 9px;
        background-color: var(--background-inputs);
        font-size: 18px;
        color: #929292;
        
        strong {
            color: var(--corTituloPage);
        }
    }
}

.inputDataFinal {

    padding: 10px 20px;
    border-radius: 9px;
    background-color: var(--background-inputs);
    font-size: 18px;
    color: #929292;
    
    strong {
        color: var(--corTituloPage);
    }
}

.mob {

    .calendar {
        margin: auto;
        border: none;
        width: 100%;
        font-family: 'Inter', sans-serif;
    
        button {
            background-color: transparent !important;
            border: none !important;
            width: 90% !important;
            font-family: 'Inter', sans-serif !important;
            line-height: 1.125em !important;
        }
    
    }
    
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 999;
        display: flex;
        flex-direction: row;
    }
    
    .containerPopUp {
        max-height: 70%; // define a altura da área visível
        overflow-y: auto;  // ativa a rolagem vertical
        padding-right: 8px; // evita scroll invisível
    
        // rolagem personalizada (opcional)
        scrollbar-width: thin;
        scrollbar-color: #ccc transparent;
    
        &::-webkit-scrollbar {
            width: 10px;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: #ccc;
            border-radius: 4px;
        }
    
        // border-right: solid 10px white;
        // border-top: solid 10px white;
        // border-bottom: solid 10px white;
    
        scale: 1;
        width: 95%;
        border-radius: 38px;
        align-items: center;
        align-content: center;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        font-size: 24px;
        
        .conteudo {
            padding: 20px;
            
            button {
                color: white;
                background-color: #E76148;
                border: none;
                width: 100%;
                margin-top: 40px;
                height: 40px;
                border-radius: 20px;
                font-weight: 700;
                font-size: 16px;
    
                .concluido {
                    margin: auto;
                    margin-top: 2px;
                    margin-left: 10px;
                }
            }
        }
    
        .icone {
            width: 100%;
        }
    
    
        h2 {
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 20px;
            text-align: center;
        }
    
    }
    
    .botoesTopo {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .lixeira {
        scale: 0.7;
        border: none;
        background-color: transparent;
        margin: 5px 15px;
        padding: 10px;
    }
    
    .botaoVoltar {
        color: var(--corTituloPage);
        border: none;
        background-color: transparent;
        margin: 4px 10px;
        padding: 10px;
    
    }
    
    .botaoVoltar:hover {
        background-color: rgb(255, 73, 73);
        margin: 1px 1px;
        padding: 20px 20px;
        color: white;
        border-radius: 38px 0px 38px 0px;
        transition: 0.3s;
    }
    
    .conteudo {
    
        h3 {
            margin-top: 40px;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 16px;
        }
    
    }
    
    .inputStatus {
        cursor: pointer;
        width: 100%;
        height: 40px;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        // justify-content: center;
    
        position: relative;
        overflow: hidden;
        justify-content: space-around;
    
        p {
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            width: 50%;
            border: none;
            background-color: transparent; 
        }
        
        .slider {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 40px;
            background-color: transparent;
            border-radius: 15px;
            transition: left 0.3s ease;
            box-shadow: 0px 1px 10.2px 0px rgba(0, 0, 0, 0.25);
            z-index: 0;
        }
    
        .right {
            left: 50%;
        }
    
        .left {
            left: 0%;
        }
        
        p {
            z-index: 1;
            width: 50%;
            text-align: center;
        }
    }
    
    
    
    .inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    
    .input {
        width: 100%;
        height: 40px;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        input{
            font-weight: 600;
            font-size: 14px;
            margin-left: 20px;
            width: 100%;
            height: 100%;
            border: none;
            background-color: transparent;
        }
    
    
        input:focus {
            outline: none;
            border: none;
            background-color: transparent;
        }
    
    }
    
    .lapis {
        margin: auto;
        margin-right: 20px;
    }
    
    .place {
        margin: auto;
        font-weight: 600;
        font-size: 14px;
        margin-left: 20px;
        width: 100%;
        border: none;
        background-color: transparent; 
    }
    
    .containerScroll {
      max-height: 500px; // define a altura da área visível
      overflow-y: auto;  // ativa a rolagem vertical
      padding-right: 8px; // evita scroll invisível
      margin-top: 16px;
    
      // rolagem personalizada (opcional)
      scrollbar-width: thin;
      scrollbar-color: #ccc transparent;
    
      &::-webkit-scrollbar {
        width: 6px;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 4px;
      }
    }
    
    .objetivo {
        display: flex;
        flex-direction: row;
        border-bottom: solid 2px #F3F3F3;
        padding: 3px 20px;
        align-items: center;
        align-content: center;
        justify-content: space-between;
    
        h4 {
            font-weight: 600;
            font-size: 16px;
        }
    }
    
    .objetivo:hover {
        cursor: pointer;
        transition: 0.3s;
    }
    
    .checkIcon {
        visibility: hidden;
    }
    
    .selecionado {
        visibility: visible;
    }
    
    .containerStatus {
        width: 100%;
        // max-height: 100px; // define a altura da área visível
        // overflow-y: auto;  // ativa a rolagem vertical
        // padding-right: 8px; // evita scroll invisível
        // margin-top: 16px;
    
        // // rolagem personalizada (opcional)
        // scrollbar-width: thin;
        // scrollbar-color: #ccc transparent;
    
        // &::-webkit-scrollbar {
        //     width: 6px;
        // }
    
        // &::-webkit-scrollbar-thumb {
        //     background-color: #ccc;
        //     border-radius: 4px;
        // }
    }
    
    .status {
        cursor: pointer;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 15px;
        border-radius: 20px;
        padding: 10px 20px;
    
        font-weight: 600;
        font-size: 14px;
    
    }
    
    .diaDaSemana {
        cursor: pointer;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 60px;
        border-bottom: solid 2px #F3F3F3;
        font-weight: 600;
        font-size: 16px;
        justify-content: space-between;
        display: flex;
    }
    
    .containerDataFinal {
        margin-top: 40px;
        font-weight: 600;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
        align-items: center;
        
        .inputDataFinal {
            padding: 10px 20px;
            border-radius: 9px;
            font-size: 16px;
            
        }
    }

}