@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.dark {
    // --fundo: #14161c;
    --fundo: #181818;
    --corTituloPage: white;
    --corBotoes: linear-gradient(
        135deg,
        rgba(255,255,255,0.10) 0%,
        rgba(255,255,255,0.04) 30%,
        rgba(11, 14, 49, 0.587) 65%,
        rgba(0,0,0,0.20) 100%
    );
    --sombraBtn: #0b0e3176;
    --colorOverlay: #0b0e3156;
    --iconePrincipal: brightness(0) invert(1);
    --background-inputs: #535353;
    --objetivoHover: #0b0e31;
}

.temaClaro {
    --objetivoHover: #F3F3F3;
    --background-inputs: #F4F4FE;
    --colorOverlay: #D9D9D994;
    --sombraBtn: #dddddd;
    --fundo: white;
    --corTituloPage: #0b0e31;
    --corBotoes: #F4F4FE;
    --iconePrincipal: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--colorOverlay);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.containerPopUp {
    width: 40%;
    border-radius: 38px;
    align-items: center;
    align-content: center;
    background: var(--fundo);
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 32px;
    
    .conteudo {
        padding: 40px;
    }

    .icone {
        width: 100%;
        filter: var(--iconePrincipal);
    }


    h2 {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 28px;
        text-align: center;
        color: var(--corTituloPage);
    }

}

.botaoVoltar {

    border: none;
    background-color: transparent;
    margin: 4px 10px;
    padding: 10px;
    color: var(--corTituloPage);

}

.botaoVoltar:hover {
    background: rgb(255, 73, 73);
    margin: 1px 1px;
    padding: 20px 20px;
    color: white;
    border-radius: 38px 0px 38px 0px;
    transition: 0.3s;
}

.botoes {
    margin-top: 40px;
    display: flex;
    width: 100%;
    flex-direction: column;
    
    button {
        padding: 20px;
        border: none;
        background-color: var(--background-inputs);
        border-radius: 10px;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 18px;
        color: var(--corTituloPage);

    }

    .iconeBotao {
        filter: var(--iconePrincipal);
    }

    .containerBotoes {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

}

.mob {
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }
    
    .containerPopUp {
        width: 95%;
        border-radius: 38px;
        align-items: center;
        align-content: center;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        font-size: 22px;
        
        .conteudo {
            padding: 20px;
        }
    
        .icone {
            width: 100%;
        }
    
    
        h2 {
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 18px;
            text-align: center;
        }
    
    }
    
    .botaoVoltar {
    
        border: none;
        background-color: transparent;
        margin: 4px 10px;
        padding: 10px;
    
    }
    
    .botaoVoltar:hover {
        background: rgb(255, 73, 73);
        margin: 1px 1px;
        padding: 20px 20px;
        border-radius: 38px 0px 38px 0px;
        transition: 0.3s;
    }
    
    .botoes {
        margin-top: 40px;
        display: flex;
        width: 100%;
        flex-direction: column;
        
        button {
            padding: 20px;
            border: none;
            border-radius: 10px;
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 18px;
    
        }
    
        .containerBotoes {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    
    }

}