.containerBotaoVerDetalhes {
    cursor: pointer;
    background-color: white;
    border: none;
    width: 119px;
    height: 27px;
    border-radius: 7px;

    color: #ACACAC;
    font-weight: 500;
    font-size: 18px;
}