
.dark {
    --corFundoBotao: rgb(53, 53, 53);
    --corTextoBotao: #ACACAC;
}

.temaClaro {
    --corFundoBotao: white;
    --corTextoBotao: #ACACAC;
}

.containerBotaoVerDetalhes {
    cursor: pointer;
    background-color: var(--corFundoBotao);
    border: none;
    width: 119px;
    height: 27px;
    border-radius: 7px;

    color: var(--corTextoBotao);
    font-weight: 500;
    font-size: 18px;
}